
 .heading1{
    /*  
    background-colo: lightgrey; 
     width: 60px; 
     padding: 2px 2px ; */
     
     /* border-color: lightcoral; */
     /* border-width: 1px; */
     /* border-style: solid; */
     /*margin: 8px; */
    /* border-radius: 15%;*/
}
.discription{
    /*background-color: antiquewhite;*/
}
#price{
    /*background-color:rgb(60, 238, 229);*/
}
.box{

    /*background-color:lightgreen;*/
    /*width: 203px;*/
    /*padding: 20px;*/
    /*border-color: rgb(94, 8, 207);*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*margin: 3px;*/
}
.card{
    background-color: cornsilk;
    width: 200px;
    margin: 5px;
    border-color: cornflowerblue;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    display: inline-block;
}
.image{
    background-color:azure; 
    width: 200px;
    border-color: tomato;
    border-width: 2px; 
    border-style: solid;
}
.card button{
background-color: lightgray;
border-radius: 5px;
padding: 2px 2px;
padding-left: 7px;
padding-right: 7px;
}